#Objetivo:
###Inserir dados de arquivos .csv em um banco de dados relacional.Extrair dados de um banco de dados relacional e gravar no formato .csv.

<ul>
  <li>OBS: Criar duas pastas: 'dados' e 'arquivos_csv', </li>
<ul>

#Atividade 1:
<ul>
  <li>Crie uma nova pasta no colab com o RA de um dos alunos do grupo. Suba os arquivos (ALUNO.csv, CONVIDADO.csv, FREGUES.csvFUNCIONÁRIO.csv, IMOVEL.csv)  manualmente. </li>
  <li>Utilizando a biblioteca pandas, criar um dataframe (tabela) para cada arquivo disponibilizado. </li>
  <li>Inserir todos os arquivos no banco de dados engenharia, utilizando o comando “to_sql”. O nome da tabela, deverá ser o mesmo nome do arquivo</li>
</ul>

In [ ]:
# Instalando as bibliotecas.
%%sh
sudo pip install pyodbc
sudo pip install sqlalchemy
sudo pip install pymysql
sudo pip install mysqlclient

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyodbc
  Downloading pyodbc-4.0.32.tar.gz (280 kB)
Building wheels for collected packages: pyodbc
  Building wheel for pyodbc (setup.py): started
  Building wheel for pyodbc (setup.py): finished with status 'done'
  Created wheel for pyodbc: filename=pyodbc-4.0.32-cp37-cp37m-linux_x86_64.whl size=287377 sha256=68a50e5b83ed0a3b78517af81a5516c057af1d465d5f554959179d299ad430c3
  Stored in directory: /root/.cache/pip/wheels/2e/9c/da/8652fd42e0f662015554f00a9e96fe4f438dfd1ef59787879e
Successfully built pyodbc
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.32
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.36)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.11.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysqlclient
  Downloading mysqlclient-2.1.0.tar.gz (87 kB)
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py): started
  Building wheel for mysqlclient (setup.py): finished with status 'done'
  Created wheel for mysqlclient: filename=mysqlclient-2.1.0-cp37-cp37m-linux_x86_64.whl size=99971 sha256=8db7873e3291624691b9fc924ecced80c24d8bff77aa1f03ac2df96803e1a65f
  Stored in directory: /root/.cache/pip/wheels/97/d4/df/08cd6e1fa4a8691b268ab254bd0fa589827ab5b65638c010b4
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.0

In [ ]:
# Importando as bibliotecas.
import sqlalchemy,pyodbc,pandas as pd

In [ ]:
# Variáveis de para fazer a conexão com o banco de dados.
servidor = '' # ex: database-2.f7827842.us-east-1.rds.amazonaws.com
usuario = 'admin'
senha = 'aluno123'
banco = 'AC2'
string_conexao = f'mysql://{usuario}:{senha}@{servidor}/{banco}'
engine = sqlalchemy.create_engine(string_conexao)
engine.connect()

In [ ]:
# Lendo um arquivo .csv.
df = pd.read_csv('/content/dados/ALUNO.csv', delimiter=';', encoding = 'ISO-8859-1')

### Gravando os dados do df na tabela ALUNO do banco de dados.

In [ ]:
df.to_sql('ALUNO', con=engine, if_exists='replace')

In [ ]:
# os é uma biblioteca para utilizar as funcionalidades que são dependentes de sistema operacional.
import os

# Listando os diretórios
diretorio = os.listdir("/content/dados")
diretorio

['FREGUES.csv', 'ALUNO.csv', 'FUNCIONARIO.csv', 'CONVIDADO.csv', 'IMOVEL.csv']

### for para inserir todas as tabelas da pasta 'dados' no banco de dados

In [ ]:
for i in diretorio:
  arquivo = i 
  tabela = i.replace('.csv', '') # Substitui o .csv por '', para o nome da tabela não ficar com .csv no final. Exemplo: aluno.cs.
  print(arquivo, tabela) 
  df = pd.read_csv(f'/content/dados/{arquivo}', delimiter=';', encoding = 'ISO-8859-1') # Lendo um arquivo .csv.
  df.to_sql(f'{tabela}', engine, if_exists='replace') # Gravando os dados do df na tabela ALUNO do banco de dados.
  print(f'O arquivo {arquivo} foi gravado na tabela {tabela}')

FREGUES.csv FREGUES
O arquivo FREGUES.csv foi gravado na tabela FREGUES
ALUNO.csv ALUNO
O arquivo ALUNO.csv foi gravado na tabela ALUNO
FUNCIONARIO.csv FUNCIONARIO
O arquivo FUNCIONARIO.csv foi gravado na tabela FUNCIONARIO
CONVIDADO.csv CONVIDADO
O arquivo CONVIDADO.csv foi gravado na tabela CONVIDADO
IMOVEL.csv IMOVEL
O arquivo IMOVEL.csv foi gravado na tabela IMOVEL

### Função para gravar dados de forma automática

In [ ]:
def grava_csv_mysql(arquivo, tabela): #arquivo, tabela, ENGINE
  df = pd.read_csv(f'/content/dados/{arquivo}', delimiter=';', encoding = 'ISO-8859-1') # Lendo um arquivo .csv.
  # print(df) con=engine
  df.to_sql(f'{tabela}', engine, if_exists='replace') # Gravando os dados do df na tabela ALUNO do banco de dados.

In [ ]:
diretorio = os.listdir('/content/dados')
for i in diretorio:
  grava_csv_mysql(arquivo=i, tabela=i.replace('.csv', ''))

#Atividade 2:
<ul>
  <li>Temos uma tabela de “PAGAMENTO” no banco de dados “AC2” (criar uma nova engine ou ler a tabela usando o nome do banco de dados  “PAGAMENTO”).<br>
Os dados de pagamento vão do dia 07/09/2021 até 09/09/2021, criar um script que grave um arquivo diferente no formato .csv, para os dias 07, 08 e 09.<br><br>
Exemplo:<br>
DATA = 2021-09-07 -> arquivos_csv/pagamento_20210907.csv
DATA = 2021-09-08 -> arquivos_csv/pagamento_20210908.csv
  </li>
</ul>

In [ ]:
# Lendo dados .sql com pandas
df = pd.read_sql("SELECT * FROM PAGAMENTO WHERE data = '2021-09-07'", con=engine)
df

   index  PAGAMENTO        DATA  VALOR
0      0          1  2021-09-07  100.5
1      1          2  2021-09-07  200.5
2      2          3  2021-09-07  400.5

In [ ]:
# Salvando os dados .sql em .csv na pasta 'arquivos_csv' de forma manual
df.to_csv('arquivos_csv/pagamentos_20210907.csv', encoding='utf-8', index=False)

In [ ]:
# Biblioteca datetime é utilizada para tratamento de datas e outras funcionalidades
# datetime = dataHora
# date = data
# timedelta = subtrai dias de data
from datetime import datetime, date, timedelta

hoje = date.today()
ontem = hoje - timedelta(1)
amanha = hoje + timedelta(1)
print(hoje) # Retorna tipo date
print(ontem)
print(amanha)

2022-06-04
2022-06-03
2022-06-05

In [ ]:
# Salvando os dados .sql em .csv na pasta 'arquivos_csv' de forma automatica com while
data_inicio = date(2021, 9, 7)
data_fim = date(2021, 9, 9)

while data_inicio <= data_fim:
  data = str(data_inicio)# Convertendo a data_inicio para string
  df = pd.read_sql(f"SELECT * FROM PAGAMENTO WHERE data = '{data}'", con=engine)
  df.to_csv(f"arquivos_csv/pagamentos_{data}.csv")
  print(df)
  data_inicio = data_inicio + timedelta(1)

   index  PAGAMENTO        DATA  VALOR
0      0          1  2021-09-07  100.5
1      1          2  2021-09-07  200.5
2      2          3  2021-09-07  400.5
   index  PAGAMENTO        DATA  VALOR
0      3          4  2021-09-08  600.5
1      4          5  2021-09-08  100.0
2      5          6  2021-09-08    1.5
3      6          7  2021-09-08  433.5
   index  PAGAMENTO        DATA   VALOR
0      7          8  2021-09-09  3233.5
1      8          9  2021-09-09  2342.0
2      9         10  2021-09-09   233.0